@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  // .dialog-content{
    nb-card{
    flex-direction: column;
    // overflow: hidden;
    height: 88%;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      color: white;
      text-align: center;
      margin: 0 auto;
      font-size: 200%;
  }
  
  // .popup{
  //   overflow: hidden;
  // }
  
  .label{
      font-size: medium;
  }

  .label2{
    color: black;
    font-size: large;
  }
  
  .row{
      height: 5%;
      // border: 1px black solid;
  }

  .body{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
  }

  
  .label{
    font-size: medium;
  }

  .bluelabel{
    color: #0095FF;
  }

  .redlabel{
    color: #FF0000;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #EDF1F7;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #EDF1F7;
  }

  .licenses{
    display: flex;
    flex-direction: column;
  } 

 }
}
