[Unit]
Description=Appliance Reservation Service
[Service]
User=root
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/usr/local/appliance_reservation

#path to executable.
#executable is a bash script which calls jar file
ExecStart=/usr/local/appliance_reservation/appliance-mgmt-server

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
