@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  .dialog-content{
      flex-direction: column;
      overflow: hidden;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      color: white;
      text-align: center;
      margin: 0 auto;
      font-size: 200%;
  }
  
  .label{
      font-size: medium;
  }

  .label2{
    color: black;
    font-size: large;
  }
  
  .row{
      height: 24%;
  }

  .body{
    overflow-x:hidden;
  }

  .inline-radio {
    display: inline!important;
  }

  .label{
    font-size: medium;
  }

  .bluelabel{
    color: #0095FF;
  }

  .redlabel{
    color: #FF0000;
  }

  .textarea {
    resize: none;
    font-size: 14px;
  }
  .disable {
    background-color: white;
  }
 
  .edit{
    padding:0px;
    border-color: white;
  }

 }
}
