<div class="row">
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="applianceCard.title" [type]="applianceCard.type" [total]="applianceCard.total" [available]="applianceCard.available" [reserved]="applianceCard.reserved">
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="model4x.title" [type]="model4x.type" [total]="model4x.total" [available]="model4x.available" [reserved]="model4x.reserved">
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="model5x.title" [type]="model5x.type" [total]="model5x.total" [available]="model5x.available" [reserved]="model5x.reserved">
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="model8x.title" [type]="model8x.type" [total]="model8x.total" [available]="model8x.available" [reserved]="model8x.reserved">
    </ngx-status-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="applianceCard.title" [type]="applianceCard.type" [total]="applianceCard.total" [available]="applianceCard.available" [reserved]="applianceCard.reserved">
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="model4x.title" [type]="model4x.type" [total]="model4x.total" [available]="model4x.available" [reserved]="model4x.reserved">
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="model5x.title" [type]="model5x.type" [total]="model5x.total" [available]="model5x.available" [reserved]="model5x.reserved">
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3" >
    <ngx-status-card [title]="model8x.title" [type]="model8x.type" [total]="model8x.total" [available]="model8x.available" [reserved]="model8x.reserved">
    </ngx-status-card>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xxxl-12 col-md-12" >
    <nb-card status="info">
      <nb-card-header>
        <div class="title">Recent Appliance Activity</div> 
      </nb-card-header>
      <nb-card-body class="body">
        <ng2-smart-table [settings]="activitySettings" [source]="activityData">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
